Repository apytypes/apytypes, pull requests merged in 2024-04, with the labels that each got.

#286 Fix normalization in fast path floating-point power
  lib/test/apyfloat/test_arithmetic.py
  src/apyfloat.cc
Labels: bug, APyFloat

#289 More test cases and add overflow detection in APyFloat cast
  lib/test/apyfloat/test_arithmetic.py
  lib/test/apyfloat/test_methods.py
  src/apyfloat.cc
Labels: bug, APyFloat

#291 Faster integer power for floating-point
  lib/test/apyfloat/test_arithmetic.py
  src/apyfloat.cc
  src/apyfloat_util.cc
  src/apyfloat_util.h
Labels: APyFloat, performance

#299 Faster mat mul
  src/apyfloatarray.cc
Labels: APyFloat, performance

#306 Some refactoring
  src/apyfloat.cc
  src/apyfloat.h
  src/apyfloatarray.cc
Labels: APyFloat

#315 Fix doc-strings
  src/apyfloat.h
  src/apyfloat_wrapper.cc
Labels: documentation

#329 Fix comparison between +/- zero
  lib/test/apyfloat/test_comparisons.py
  src/apyfloat.cc
Labels: bug, APyFloat

#328 Add tests
  lib/test/apyfixedarray/test_arithmetic.py
  lib/test/apyfixedarray/test_constructors.py
  lib/test/apyfloatarray/test_arithmetic.py
  lib/test/apyfloatarray/test_constructors.py
  src/apyfloatarray.cc
Labels: test

#350 Implement quantization mode TO_AWAY for floating-point
  docs/api/quantizationoverflow.rst
  lib/test/apyfloat/test_rounding.py
  src/apyfloat_util.h
Labels: APyFloat, quantization

#351 Implement TIES_ODD, TIES_POS, and TIES_NEG for floating-point
  lib/test/apyfloat/test_rounding.py
  src/apyfloat.cc
  src/apyfloat_util.h
Labels: APyFloat, quantization

#358 Fix in subnormal addition for arrays
  lib/test/apyfloatarray/test_arithmetic.py
  src/apyfloatarray.cc
Labels: APyFloat

#362 Improve vector sum slightly
  src/apyfloatarray.cc
Labels: APyFloat, performance

#382 Do exponent update from carry in mantissa quantization
  src/apyfloat.cc
  src/apyfloat_util.h
  src/apyfloatarray.cc
Labels: APyFloat

#384 Pre-compute more constants to mantissa quantization
  src/apyfloat_util.h
  src/apyfloatarray.cc
Labels: APyFloat, performance

#393 Small fix in long floating-point multiplication / division
  lib/test/apyfloat/test_arithmetic.py
  lib/test/apyfloatarray/test_arithmetic.py
  src/apyfloat.cc
Labels: bug, APyFloat

#398 Add from_array method to support arbitrary array libraries
  docs/api/apyfixedarray.rst
  docs/api/apyfloatarray.rst
  lib/test/apyfixedarray/test_constructors.py
  lib/test/apyfloatarray/test_constructors.py
  src/apyfixedarray.cc
  src/apyfixedarray.h
  src/apyfixedarray_wrapper.cc
  src/apyfloatarray.cc
  src/apyfloatarray.h
  src/apyfloatarray_wrapper.cc
Labels: Arrays
