Repository apytypes/apytypes, pull requests merged in 2024-03, with the labels that each got.

#131 Add benchmark and update comparison
  benchmark/__init__.py
  benchmark/bench_apytypes.py
  benchmark/bench_fixedpoint.py
  benchmark/bench_fpbinary.py
  benchmark/bench_fxpmath.py
  benchmark/bench_spfpm.py
  benchmark/benchmark.py
  docs/comparison.rst
  pyproject.toml
Labels: documentation, APyFixed, performance

#132 Run benchmark as part of doc-build
  .github/workflows/documentation.yml
  benchmark/benchmark.py
  docs/comparison.rst
  pyproject.toml
Labels: documentation, performance

#137 Add numfi to comparison
  benchmark/bench_numfi.py
  benchmark/benchmark.py
  docs/comparison.rst
  pyproject.toml
Labels: documentation

#141 Optimize scalar-array fixed-point multiplication
  lib/test/apyfixedarray/test_arithmetic.py
  src/apyfixedarray.cc
Labels: performance

#144 Do all negations inline
  benchmark/benchmark.py
  src/apyfixed.cc
Labels: performance

#146 Add inline shifting for fixed-point
  lib/test/apyfixed/test_arithmetic.py
  lib/test/apyfixedarray/test_arithmetic.py
  src/apyfixed.cc
  src/apyfixed.h
  src/apyfixed_wrapper.cc
  src/apyfixedarray.cc
  src/apyfixedarray.h
  src/apyfixedarray_wrapper.cc
Labels: APyFixed

#162 Special case short negations
  lib/test/apyfixed/test_arithmetic.py
  src/apyfixed.cc
Labels: APyFixed, performance

#166 Compute shift amount less often
  src/apyfixed.cc
  src/apyfixed.h
  src/apyfixedarray.cc
Labels: performance

#187 Increase performance for fixed-point array negation
  src/apyfixedarray.cc
Labels: APyFixed, performance

#200 Specialize conversion of numpy arrays to APyFloatArray
  lib/test/apyfixedarray/test_constructors.py
  lib/test/apyfloatarray/test_constructors.py
  src/apyfloat.h
  src/apyfloatarray.cc
  src/apyfloatarray.h
Labels: APyFloat

#214 Remove quantization argument to from_float and speed up things a bit
  lib/test/apyfloat/test_rounding.py
  src/apyfloat.cc
  src/apyfloat.h
  src/apyfloat_wrapper.cc
  src/apyfloatarray.cc
  src/apyfloatarray.h
  src/apyfloatarray_wrapper.cc
Labels: APyFloat, performance

#225 Add some utility methods and properties
  lib/test/apyfloat/test_methods.py
  src/apyfloat.cc
  src/apyfloat.h
  src/apyfloat_wrapper.cc
Labels: APyFloat

#231 Tests for quantization in division
  lib/test/apyfloat/test_rounding.py
Labels: APyFloat, test, quantization

#248 Add quantization plot
  .github/workflows/documentation.yml
  docs/_plots/quantization.py
  docs/api/quantizationoverflow.rst
Labels: documentation

#250 Rewrite APyFloat operators
  docs/api/quantizationoverflow.rst
  lib/test/apyfloat/test_arithmetic.py
  lib/test/apyfloat/test_rounding.py
  lib/test/apyfloatarray/test_constructors.py
  src/apyfloat.cc
  src/apyfloat.h
Labels: APyFloat, quantization

#256 Add special methods to compare against one and two
  src/apyfixed.cc
  src/apyfixed.h
  src/apyfloat.cc
Labels: performance

#257 Add tests for floating-point multiplication
  lib/test/apyfloat/test_arithmetic.py
  src/apyfixed.cc
  src/apyfixed.h
  src/apyfloat.cc
Labels: test

#260 Minor optimizations
  src/apyfloat.cc
Labels: APyFloat, performance

#263 Fix normalized, add quantization mode
  docs/_plots/quantization.py
  docs/api/quantizationoverflow.rst
  lib/test/apyfixed/test_quantization.py
  lib/test/apyfloat/test_arithmetic.py
  lib/test/apyfloat/test_rounding.py
  src/apyfixed.cc
  src/apyfixed.h
  src/apyfloat.cc
  src/apytypes_common.h
  src/apytypes_wrapper.cc
Labels: bug, APyFloat, quantization

#266 Add more tests for float array multiplication
  lib/test/apyfloatarray/test_arithmetic.py
Labels: APyFloat, test

#265 Increase test coverage for floating-point multiplication
  lib/test/apyfloat/test_arithmetic.py
Labels: APyFloat, test

#267 Increase test coverage in APyFloat
  lib/test/apyfloat/test_methods.py
Labels: APyFloat, test

#270 Faster subnormal multiplication (and other moves)
  lib/test/apyfloatarray/test_arithmetic.py
  src/apyfloat.cc
  src/apyfloatarray.cc
Labels: APyFloat, performance

#271 Unify word lengths for partial multiplication results
  src/apyfloat.cc
  src/apyfloatarray.cc
Labels: APyFloat, performance

#273 Add plot for performance scaling
  .github/workflows/documentation.yml
  docs/_plots/performancescale.py
  docs/conf.py
  docs/performance.rst
Labels: documentation

#277 Refactor mantissa quantization to its own method
  lib/test/apyfloat/test_arithmetic.py
  src/apyfloat.cc
  src/apyfloat.h
Labels: APyFloat, quantization, performance
