Repository apytypes/apytypes, pull requests merged in 2024-05, with the labels that each got.

#415 Option to test arrays in Berkeley script
  docs/development.rst
  lib/test/apyfloat/run_berkeley_cases.py
Labels: APyFloat, test, Arrays

#419 Minor refactor for floating-point cast
  src/apyfloat.cc
  src/apyfloat.h
  src/apyfloatarray.cc
Labels: APyFloat, quantization

#427 Only run CI buildwheel on PRs when explicitly asked for it
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/publish-test-pypi.yml
  CHANGELOG.md
Labels: CI: Run cibuildwheel

#429 Various fixes
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  README.md
  apytypes_stubgen.sh
  pyproject.toml
Labels: CI: Run cibuildwheel

#431 Fix in 'cast' when result is subnormal
  lib/test/apyfloat/test_rounding.py
  src/apyfloat.cc
Labels: bug, APyFloat

#432 Add methods next_up and next_down for floating-point
  CHANGELOG.md
  lib/test/apyfloat/test_methods.py
  src/apyfloat.cc
  src/apyfloat.h
  src/apyfloat_wrapper.cc
Labels: enhancement, APyFloat
