Repository apytypes/apytypes, pull requests merged in 2025-03, with the labels that each got.

#631 Add fast path for matrix multiplication using 128-bit multiplication …
  CHANGELOG.md
  lib/test/apyfixedarray/test_matmul.py
  src/apyfixedarray.cc
Labels: performance

#634 Add 32-bit test
  .github/workflows/tests-32-bits.yml
  meson.build
  meson.options
Labels: test

#638 Specialize method when there is no shift
  src/apyfixed_util.h
  src/apyfixedarray.cc
Labels: performance

#644 Add logic not for fixed-point types
  CHANGELOG.md
  benchmark/ci_fixed_array_benchmarks.py
  lib/apytypes/_apytypes.pyi
  lib/test/apycfixed/test_logic.py
  lib/test/apycfixedarray/test_logic.py
  lib/test/apyfixed/test_logic.py
  lib/test/apyfixedarray/test_logic.py
  lib/test/apyfloatarray/test_logic.py
  src/apycfixed.cc
  src/apycfixed.h
  src/apycfixed_wrapper.cc
  src/apycfixedarray.cc
  src/apycfixedarray.h
  src/apycfixedarray_wrapper.cc
  src/apyfixed.cc
  src/apyfixed.h
  src/apyfixed_wrapper.cc
  src/apyfixedarray.cc
  src/apyfixedarray.h
  src/apyfixedarray_wrapper.cc
  src/apyfloatarray.cc
  src/apyfloatarray.h
  src/apyfloatarray_wrapper.cc
Labels: enhancement, APyFixed, Arrays

#645 Add SIMD Not
  src/apycfixedarray.cc
  src/apyfixedarray.cc
  src/apytypes_simd.cc
  src/apytypes_simd.h
Labels: performance, SIMD

#649 Do not compare with True/False in tests
  lib/test/apyfloat/test_methods.py
  lib/test/apyfloat/test_rounding.py
  lib/test/apyfloatarray/test_arithmetic.py
  pyproject.toml
Labels: test

#651 Only pass frac_bits to fixed_point_to_double
  src/apycfixed.cc
  src/apycfixedarray.cc
  src/apyfixed.cc
  src/apyfixed_util.h
  src/apyfixedarray.cc
Labels: performance

#654 Fix overflow in fixed-point to float conversion
  CHANGELOG.md
  lib/test/apyfixed/test_methods.py
  src/apyfixed_util.h
Labels: bug, APyFixed

#658 Unify and fix docs a bit, update pre-commit hooks, and change link color
  .pre-commit-config.yaml
  docs/conf.py
  lib/apytypes/_apytypes.pyi
  src/apyarray.h
  src/apycfixed.cc
  src/apycfixedarray.cc
  src/apyfixed_util.h
  src/apyfixedarray.cc
  src/apyfloatarray.cc
  src/apyfloatarray_wrapper.cc
  src/apytypes_scratch_vector.h
  src/apytypes_util.h
Labels: documentation

#659 More documentation fixes
  docs/api/apycfixedarray.rst
  docs/api/apyfixedarray.rst
  docs/api/apyfloat.rst
  docs/api/apyfloatarray.rst
  docs/conf.py
  lib/apytypes/_apytypes.pyi
  lib/apytypes/_array_functions.py
  lib/apytypes/_utils.py
  src/apycfixed_wrapper.cc
  src/apycfixedarray_wrapper.cc
  src/apyfixedarray_wrapper.cc
Labels: documentation

#660 Even more doc fixes
  .github/workflows/stub-and-doctests.yml
  README.md
  lib/apytypes/_apytypes.pyi
  lib/apytypes/_array_functions.py
  lib/apytypes/_utils.py
  src/apycfixed_wrapper.cc
  src/apycfixedarray_wrapper.cc
  src/apyfixed_wrapper.cc
  src/apyfixedarray_wrapper.cc
  src/apyfloat_wrapper.cc
  src/apyfloatarray_wrapper.cc
Labels: documentation

#664 Add convenience methods 'inf' and 'nan' for APyFloat
  CHANGELOG.md
  docs/api/apyfloat.rst
  lib/apytypes/_apytypes.pyi
  lib/test/apyfloat/test_methods.py
  src/apyfloat.cc
  src/apyfloat.h
  src/apyfloat_wrapper.cc
Labels: enhancement, APyFloat

#666 Fix bug in APyFloat add/sub
  CHANGELOG.md
  lib/test/apyfloat/test_arithmetic.py
  lib/test/apyfloat/test_rounding.py
  src/apyfloat_util.h
Labels: bug, APyFloat

#674 Fix conversion from APyFixed to APyFloat
  CHANGELOG.md
  lib/test/apyfloat/test_methods.py
  src/apyfixed.cc
  src/apyfixed.h
  src/apyfloat.cc
Labels: bug, APyFloat

#677 src: fix `APyFloat` addition of zeros of different specs
  CHANGELOG.md
  lib/test/apyfloat/test_arithmetic.py
  src/apyfloat_util.h
Labels: APyFloat
